{% if page.image.feature %}
<header class="blog-header header-white header-overlay align-center align-middle" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header class="blog-header header-white header-overlay align-center align-middle" style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}
<div class="header-inner">
    <div class="container">
        <a class="brand light" href="{{ site.url }}/" role="banner" itemprop="url">
                <img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo">
        <h1 class="blog-title light" itemprop="name">
            {{ site.title }}
        </h1>
        </a>
        <h2 class="blog-description light bordered bordered-top" itemprop="description">
            {% if page.headline %}
                {{ page.headline }}
            {% else %}
                {{ site.description }}
            {% endif %}
        </h2>
        <ul class="menu-items" itemscope itemtype="http://schema.org/SiteNavigationElement">
            {% for link in site.links %}
                <li>
                    {% if link.external %}
                    <a href="{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>
                    {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>
                    {% endif %}
                    {% unless forloop.last %}
                    &nbsp;&bull;&nbsp;
                    {% endunless %}
                </li>
            {% endfor %}
            {% if site.search %}<li class="dosearch"><i class="fa fa-search"></i> Search</li>{% endif %}
        </ul>
    </div>
</div>
</header>
